<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= food.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= food.name %></h1>

    <% if (food.qty) { %>
        <p>Quantity: <%= food.qty %></p>
        <% } %>

    <% if (food.category) { %>
        <p>Category: <%= food.category %></p>
    <% } %>

    <p>Expiration Date: <%= new Date(food.expiresAt).toLocaleDateString({ 
    year: 'numeric', month: 'short', day: 'numeric' 
  }); %></p>

    <% if (food.notes) { %>
        <p>Notes: <%= food.notes %></p>
    <% } %>

</body>
</html>